body {
  background-image: url("https://images.pexels.com/photos/2559484/pexels-photo-2559484.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-color: #cccccc;
}
h1 {
  color: #111113;
  display: block;
  font-size: 30px;
  font-weight: bold;
  height: 27.7778px;
  line-height: 28px;
  margin-bottom: 0;
  padding-top: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-transform: capitalize;
  color: #17171a;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid rgb(148, 148, 223);
  border-radius: 10px;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.overview {
  margin-bottom: 20px;
}
.weather-temperatur img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperatur strong {
  color: blue;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperatur .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.weather-temperatur .active {
  color: black;
  cursor: default;
}
.weather-temperatur .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 10px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temprature-min {
  opacity: 0.6;
}
.weather-forecast-temprature {
  font-size: 15px;
}
.btn-primary {
  border: 1px solid rgb(148, 148, 223);
  border-radius: 10px;
}
p {
  padding-left: 50px;
  font-family: "Dancing Script", cursive;
}
.name {
  color: #f8f3f3;
}
